<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="./vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <style>
       

    </style>

</head>
<body>

    <div id="app">
        <h4>Adicionar pacientes</h4>

        <span> Nome: </span><input type="text" id="inputNome"><br>
        <span> Idade: </span><input type="text" id="inputIdade"><br>
        <span> Plano: </span><input type="text" id="inputPlano"><br>
        <button @click="adicionarPaciente()">Adicionar</button>
        <hr>

        <!--
        <h4>Último Pacinete Cadastrado</h4>
        
        <p v-if="pacientes.length > 0">
            Nome: {{pacientes[pacientes.length-1].nome}}
            Idade: {{pacientes[pacientes.length-1].idade}}
            Plano: {{pacientes[pacientes.length-1].plano}}

        </p>

        <h4>Pacientes do plano Ouro</h4>
        <p v-for="p in pacientes">{{p.plano == 'Ouro' ? p.nome : ' '}}</p>
        <hr>
        -->

        <!-- Propriedade computada -->
        <h4>Último Pacinete Cadastrado</h4>
        <p v-if="pacientes.length > 0">
            {{ultimoPaciente}}
        </p>

        <hr>

        <h4>Pacientes do plano Ouro</h4>
        <p v-for="p in pacientesPlanoOuro">{{p.nome}}</p>
        <hr>


        <h4>Pacientes Cadastrados</h4>
        <p v-for="p in pacientes">{{p.nome}}</p>



    </div>

    <script>

        const vm = new Vue({
            el:'#app',
            data:{ //variáveis / atributos reativos
                pacientes: []
            },
            methods: {
                adicionarPaciente(){
                    this.pacientes.push({
                        nome: inputNome.value,
                        idade: inputIdade.value,
                        plano: inputPlano.value
                    })
                }
            }, 

            computed: {
                ultimoPaciente(){
                    let key = this.pacientes.length - 1
                    let txt = ''

                    txt += 'Paciente '+this.pacientes[key].nome
                    txt += ', idade '+this.pacientes[key].idade
                    txt += ', plano '+this.pacientes[key].plano

                    return txt.toUpperCase()
                },

                pacientesPlanoOuro(){
                    return this.pacientes.filter(item=>
                        item.plano == "Ouro"
                    )
                }
            }
            
        }) // vm = ViewModel

    </script>
</body>
</html>